<!-- About Section -->
    <section id="install" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Getting Started</h2>
                    <h3 class="section-subheading text-muted">Installation overview.<br>Looking for more detailed instructions? Check the /docs folder or <a href="https://github.com/leonward/OpenFPC/blob/master/docs/INSTALL.md"> here </a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.install.step1.image }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading"> {{ site.install.step1.title }} </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ site.install.step1.body }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.install.step2.image }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading"> {{ site.install.step2.title }} </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> {{ site.install.step2.body }} </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.install.step3.image }} " alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading"> {{ site.install.step3.title }} </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> {{ site.install.step3.body }}  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{ site.install.step4.image }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">{{ site.install.step4.title }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ site.install.step4.body }} </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-12 text-center">
                    <br>
                    <h3 class="section-subheading text-muted"> Looking for more detailed installation instructions? <br> Check out the /docs/ folder or <a href='https://github.com/leonward/OpenFPC/blob/master/docs/INSTALL.md'> here </a></h3>
                </div>
            </div>
        </div>
    </section>
