Source: openfpc
Priority: optional
Maintainer: Leon Ward <leon@openfpc.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Section: net
Homepage: http://www.openfpc.org/

Package: openfpc
Section: net
Priority: optional
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libarchive-zip-perl, libterm-readkey-perl, libfilesys-df-perl, libdatetime-perl, libdate-simple-perl, daemonlogger, tshark, tcpdump, libdbi-perl, mysql-server, libswitch-perl, libdata-uuid-perl, libprivileges-drop-perl
Conflicts: openfpc-client
Replaces: openfpc-client
Recommends: wireshark
Description: OpenFPC - An Open Full Packet Capture Setup
 OpenFPC is a set of scripts that combine to provide
 a lightweight full-packet network traffic recorder
 & buffering tool. It's design goal is to allow non-expert
 users to deploy a distributed network traffic recorder
 on COTS hardware while integrating into existing alert
 and log tools.
 .
 openfpc-common includes the perl libs that are needed
 for all openfpc control scripts.

Package: openfpc-client
Section: net
Priority: optional
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libterm-readkey-perl, libarchive-zip-perl, libfilesys-df-perl, libdatetime-perl, libdate-simple-perl, libswitch-perl, libdata-uuid-perl
Recommends: wireshark, unzip
Conflicts: openfpc
Description: OpenFPC - An Open Full Packet Capture Setup
 OpenFPC is a set of scripts that combine to provide
 a lightweight full-packet network traffic recorder
 & buffering tool. It's design goal is to allow non-expert
 users to deploy a distributed network traffic recorder
 on COTS hardware while integrating into existing alert
 and log tools.
 .
 openfpc-client can be installed on any system that will
 be used to contact a openfpc-proxy or openfpc-nodes in
 a openfpc installation.
 openfpc-client can be installed on the same host as the
 openfpc-proxy or openfpc-node.
 .
 For more information, visit the OpenFPC project home at
 http://www.openfpc.org

Package: openfpc-restapi
Section: net
Priority: optional
Architecture: all
Depends: openfpc, starman, libdancer2-perl, openssl
Recommends: wireshark, unzip
Description: A restful API for OpenFPC. Enables external
 systems to query the status, search, and extract pcaps from
 an OpenFPC Node.
 .
 For more information, visit the OpenFPC project home at
 http://www.openfpc.org

